# General ignores
# editor (vim/kate/emacs) cache and swaps, etc.#
################################################
*~
*.swp
.swp
auto
DEADJOE
*.bak
*.sav
.vscode
\#*
.#*
*.asv
auto

# Latex
#################################################
*.aux
*.auxlock
*.bcf
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.loc
*.lof
*.lot
*.maf
*.mtc*
*.out
*.rel
*.run.xml
*.synctex.gz
*.spl
*.soc
*.tdo
*.thm
*.vrb
*.nav
*.snm
*.md5
*.dpth
*.dep
*.xdv

# Python
#################################################
*.py[cod]
__pycache__

# project specific ignores
#################################################

# if you want to push to main, run this before your first git add:
# git update-index --assume-unchanged CSV/.keep .url .secret
.secret
.url
CSV/

*.pdf
HTML/*.html
LaTeX/Book_of_abstracts/BookOfAbstracts.tex
LaTeX/Book_of_abstracts/Sessions/*.tex
LaTeX/Daily_Scientific_Program/Daily_Scientific_Program.tex
LaTeX/Daily_Scientific_Program/rooms/*.tex
all_abstracts.tex
all_abstracts.html
